body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #f0f0f0, #e0e0e0);
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background: linear-gradient(to bottom right, #333333, #111111);
    color: #fff;
}

.container {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 24px;
    max-width: 80%; 
    width: 100%;
    transition: background-color 0.3s ease;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 28px;
    margin: 0;
    color: #007BFF;
}

.mode-toggle {
    display: flex;
    align-items: center;
    color: #777;
}

.mode-toggle span {
    font-size: 14px; 
    margin-left: 6px; 
}

#alarm-status-text {
    font-size: 20px;
    color: #444;
    margin-bottom: 20px;
}

.dark-mode #alarm-status-text {
    color: #444;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

#mode-toggle:checked + .slider {
    background-color: #007BFF;
}

#mode-toggle:checked + .slider:before {
    transform: translateX(26px);
}

.alarm input[type="time"] {
    font-size: 20px; 
    padding: 12px 16px; 
    border-radius: 10px; 
}

.alarm button#set-alarm {
    font-size: 20px;
    padding: 12px 16px; 
    border-radius: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.alarm button#set-alarm:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

